* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    padding: 20px 30px 27px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper__header {
    width: 100%;
}
.wrapper__header .divider {
    margin: 8px 0px;
    border-bottom: 1px solid gray;
}

.sub-title {
    font-size: 13px;
    font-weight: bold;
    color: #55B2D4;
}

.sub-description {
    font-size: 8px;
}

.wrapper__body {
    width: 100%;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper__body__top {
    width: 100%;
    height: 168px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.wrapper__body__top__left {
    width: 222px;
    height: 168px;
    background-color: lightgray;
    border: 2px solid gray;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.wrapper__body__top__left .top {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.wrapper__body__top__left .top .bell {
    font-size: 28px;
    color: yellow;
}
.wrapper__body__top__left .top .title {
    font-size: 11px;
    font-weight: bold;
}
.wrapper__body__top__left .top .information {
    font-size: 10px;
    font-weight: bold;
    color: gray;
}

.wrapper__body__top__left .mid {
    width: 100%;
    height: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
}
.wrapper__body__top__left .mid .ball {
    width: 18px;
    height: 18px;
    font-size: 10px;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.wrapper__body__top__left .bottom {
    width: 100%;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.wrapper__body__top__left .button {
    width: 62px;
    height: 24px;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
}


.wrapper__body__top__right {
    width: 222px;
    height: 168px;
    background-color: lightgray;
    border: 2px solid gray;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.wrapper__body__top__right .top {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.wrapper__body__top__right .top .cart {
    font-size: 28px;
    color: green;
}
.wrapper__body__top__right .top .title {
    font-size: 11px;
    font-weight: bold;
}
.wrapper__body__top__right .top .information {
    font-size: 10px;
    font-weight: bold;
    color: gray;
}

.wrapper__body__top__right .mid {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.wrapper__body__top__right .mid input {
    width: 136px;
    height: 24px;
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
}
.wrapper__body__top__right .mid button {
    width: 38px;
    height: 24px;
    margin-left: 8px;
}


.wrapper__body__top__right .bottom {
    width: 100%;
    color: gray;
    font-size: 11px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.wrapper__body__bottom {
    width: 100%;
    height: 160px;
    background-color: lightgray;
    border: 2px solid gray;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.wrapper__body__bottom .top {
    font-size: 11px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.wrapper__body__bottom .bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.wrapper__body__bottom .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    font-weight: bold;
}
.wrapper__body__bottom .item-title {
    margin-top: 5px;
    margin-bottom: 5px;
}
.wrapper__body__bottom .item .item-wrapper {
    display: flex;
    flex-direction: row;
}
.wrapper__body__bottom .item .item-each {
    width: 40px;
    height: 60px;
    font-size: 45px;
    color: white;
    background-color: black;
    margin-left: 2.5px;
    margin-right: 2.5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.wrapper__body__bottom .item-space {
    padding-top: 30px;
    font-size: 50px;
}

